#game-area {
  display: flex;
}

#gameHeader {
  display: flex;
  justify-content: space-around;
}

.timer {
  width: 15%;
  background-color: black;
  float: left;
  display: block;
  margin-right: 2%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 26px;
  color: #b02835;
}

.score {
  width: 13%;
  background-color: black;
  float: left;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #ff5722;
  font-size: 26px;
}

.container-btn {
  width: 500px;
  height: 300px;
  font-size: 3em;
  text-align: center;
}

#buttonOne,
#buttonTwo,
#buttonThree,
#buttonFour {
  color: #b02835;
  background-color: black;
  border: none;
  border-radius: 20px;
  transition-duration: 0.4s;
}

#buttonOne:hover,
#buttonTwo:hover,
#buttonThree:hover,
#buttonFour:hover {
  background-color: #b02835;
  color: white;
}

.correctAnswer {
  background-color: green;
}
