.timer {
  width: 15%;
  background-color: black;
  float: left;
  display: block;
  margin-right: 2%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 26px;
  color: lightgray;
}

.score {
  width: 13%;
  background-color: #fff;
  float: left;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #ff5722;
  font-size: 26px;
}

#buttonOne,
#buttonTwo,
#buttonThree,
#buttonFour {
  background-color: pink;
}
